@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Delete Desk";
    
    var firstName = "";
    var lastName = "";
    var surfaceArea = 0;
    var drawers = 0;
    var material = "";
    var rushOrderDays = 0;
    var finalPrice = 0.00;
    var date = DateTime.Now;
    var deskId = UrlData[0];
    var Id = deskId.AsInt();

    if (!IsPost)
    {
        if (!deskId.IsEmpty() && deskId.IsInt())
        {
            var db = Database.Open("MegaEscritorioDB");
            var dbCommand = "SELECT * FROM deskDetails WHERE ID = @0";
            var row = db.QuerySingle(dbCommand, Id);

            if (row != null)
            {
                firstName = row.firstName;
                lastName = row.lastName;
                surfaceArea = row.surfaceArea;
                drawers = row.drawers;
                material = row.material;
                rushOrderDays = row.rushOrderDays;
                finalPrice = row.finalPrice;
                date = row.dateCreated;
                Id = row.Id;
            }
            else
            {
                Validation.AddFormError("No desk was selected.");
            }
        }
        else
        {
            Validation.AddFormError("No desk was selected.");
        }
    }

    if (IsPost && !Request["buttonDelete"].IsEmpty())
    {
        var db = Database.Open("MegaEscritorioDB");
        var deleteCommand = "DELETE FROM deskDetails WHERE ID = @0";
        db.Execute(deleteCommand, Id);
        Response.Redirect("~/user/Home");
    }
}
<h2>Delete Desk</h2>
@Html.ValidationSummary()
<p><a href="~/user/Home.cshtml">Back to Home</a></p>
<form method="post">
    <fieldset>
        <p class="block">
            @Html.Label("First Name:")
            <span>@firstName</span>
        </p>
        <p class="block">
            @Html.Label("Last Name:")
            <span>@lastName</span>
        </p>
        <p class="block">
            @Html.Label("Surface Area:")
            <span>@surfaceArea</span>
        </p>
        <p class="block">
            @Html.Label("Drawers:")
            <span>@drawers</span>
        </p>
        <p class="block">
            @Html.Label("Material:")
            <span>@material</span>
        </p>
        <p class="block">
            @Html.Label("Rush Order:")
            <span>@rushOrderDays</span>
        </p>
        <p class="block">
            @Html.Label("Final Price:")
            <span>$@finalPrice</span>
        </p>
        <p class="block">
            @Html.Label("Date:")
            <span>@date.ToString("MMM dd yyyy")</span>
        </p>
        <input type="hidden" name="deskId" value="@Id" />
        <p><input type="submit" name="buttonDelete" value="Delete Desk" /></p>
    </fieldset>
    <p><a href="~/user/Home">Back to Home</a></p>
</form>