<!DOCTYPE html>
<html>

<head>
    <title>@Page.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href="~/style/mainStyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="header">
        <h1>Mega Escritorio</h1>
        <div class="nav-user">
            @if (WebSecurity.IsAuthenticated)
            {
                var authenticatedUser = WebSecurity.CurrentUserName;
                var db = Database.Open("MegaEscritorioDB");
                var UserData = db.QuerySingle("SELECT firstName, lastName FROM UserProfile WHERE LOWER(Email) = LOWER(@0)", authenticatedUser);
                @:<a href="@Href(" ~/user/Logout")">@UserData.firstName</a>
            }
            else
            {
                @:<a href="@Href(" ~/user/Login ")">Log in</a> |
                @:<a href="@Href(" ~/user/Register")">Register</a>
             }
        </div>
        <div class="nav">
            @if (WebSecurity.IsAuthenticated)
            {
              @:<a href="@Href(" ~/user/Home")">Home</a> 
              @:<a href="@Href(" ~/pages/addDesk")">Add</a> 
            }
            else
            { @:<a href="@Href(" ~/user/Home")">Home</a> 
              @:<a href="@Href(" ~/pages/addDesk")">Add</a>
             }
        </div>
    </div>
    <div id="main">
        @RenderBody()
    </div>
    <div id="footer">
        &copy; @DateTime.Now.Year Mega Escritorio
    </div>
</body>

</html>