@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Log In";

    Validation.Add("username",Validator.Regex(@"^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$","Invalid format for an email address"));
    Validation.RequireField("password", "Password cannot be empty");

    var username = "";
    var password = "";
    var errorMessage = "";

    if (IsPost)
    {
        username = Request["username"];
        password = Request["password"];
        if (WebSecurity.Login(username, password, true))
        {
            Response.Redirect("~/user/Home");
        }
        else
        {
            errorMessage = "Login was not successful.";
        }
    }
}
    <h1>Login</h1>
    <form method="post">
        @if (WebSecurity.IsAuthenticated)
        {
            <p>
                You are currently logged in as @WebSecurity.CurrentUserName.
                <a href="@Href("~/user/Logout")">Log out</a>
            </p>
        }
        <p>
            @Html.Label("username")
            @Html.TextBox("username", Request.Form["username"])
        </p>
        <p>
            @Html.Label("password")
            @Html.Password("password", Request.Form["password"])
        </p>
        <p>
            <input type="submit" value="Submit" />
        </p>

        <p>No user name? <a href="@Href("~/user/Register")">Register</a></p>
        <p><a href="@Href("~/user/Home")">Return to home page</a></p>

    </form>
    <p>
        @if (errorMessage != "")
        {
            <span class="errorMessage">@errorMessage</span>
        }
    </p>